@model GestionActivités.Models.Participants.Participant

@{
    ViewData["Title"] = "Create";
  }


<h2>Votez pour votre activitée</h2>

<p><h4>Participant.e</h4></p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="nom" class="control-label"></label>
                <input asp-for="nom" class="form-control" />
                <span asp-validation-for="nom" class="text-danger"></span>
            </div>
            @* Utilisation du viewbag crée dans GET: ParticipantController/Create pour afficher les choix d'activités*@
            <div class="form-group">
                <label asp-for="activite" class="control-label"></label>
                <select asp-for = "activite" class="form-control" />
                     <option selected disabled> Votre choix </option>
                        @foreach(string choixActivite in ViewBag.Choix)
                        {
                            <option value="@choixActivite">@choixActivite</option>
                        }
                </select>
                
                <span asp-validation-for="activite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Votez!" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la page d'acceuil</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
