@model IEnumerable<GestionActivités.Models.Participants.Participant>

@{
    ViewData["Title"] = "Index";
    
}
@*Le ViewBag affiche le nombre de vote total*@
<h2>@ViewBag.nombreDeVote personnes ont participées </h2>
<p></p>
<p>
    <button class= "votebtn"><a asp-controller="Participant" asp-action="Create" class="btn btn-primary">Votez ici</a></button>
 </p>

<table class="table">
    @*Groupe les participant.es par activités*@
    @foreach(var a in Model.GroupBy(m => m.activite).OrderBy(d => d.Key))
    {
            <thead>
                <tr>
                    <th> @a.Key </th> @*Affiche le nom de l'activité en en-tête*@
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in a) {
                <tr>
                     
                    <td>
                        @Html.DisplayFor(modelItem => item.nom) @*Affiche le nom du ou de la participante pour l'activité*@
                    </td>
                </tr>
        }
            </tbody>
    }
</table>
