@model IEnumerable<GestionActivités.Models.Participants.Participant>

@{
    ViewData["Title"] = "Index";
    
}


<h2>@ViewBag.nombreDeVote personnes ont participées </h2>
<p></p>
<p>
    <a asp-action="Create">Votez pour votre activité</a>
</p>


<table class="table">
    @foreach(var a in Model.GroupBy(m => m.activite).OrderBy(d => d.Key))
    {
            <thead>
                <tr>
                    <th> @a.Key </th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in a) {
                <tr>
                     
                    <td>
                        @Html.DisplayFor(modelItem => item.nom)
                    </td>
                </tr>
        }
            </tbody>
    }
</table>
